# Django
SECRET_KEY=django-insecure-)#ax34cl+v#4&$s*hv^dtz-wk6hoob9cb3(c5*3zjr@9!ju5so
DEBUG=false

# Postgres
DATABASE_URL=psql://postgres:postgres@localhost:5432/postgres

# Redis
REDIS_URL=redis://redis:6379

# Cache
CACHEOPS_ENABLED=<bool>

# WG
APPLICATION_ID=<str>
CLAN_ID=<int>
WG_API_HOST=https://api.worldoftanks.eu/

# Poliroid
POLIROID_API_HOST=https://poliroid.me/

# Swagger
SWAGGER_URL=swagger/
